<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>가보자GO</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  />
</head>
<!-- Header-->
<header class="bg-dark py-1">

  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
     <!-- <h1 class="display-4 fw-bolder">전시회 상세</h1>-->
      <!--  <p class="lead fw-normal text-white-50 mb-0">?</p>-->
    </div>
  </div>

</header>





<body  class="pt-5" >
<!-- Navigation 사실상의 header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/app">가보자GO</a>


    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">코스추천</a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="#">전시회
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">고객지원</a>
        </li>
        <li class="nav-item" th:if="${session.loginMember != null}">
          <a
              class="nav-link"
              href="auth/logout"
              th:text="${session.loginMember.name}+'(로그아웃)'"
          >홍길동(로그아웃)</a
          >
        </li>
        <li class="nav-item" th:if="${session.loginMember == null}">
          <span class="nav-link btn-open-popup">로그인</span>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="auth/register">회원가입</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="./images/mypage.png" width="90%" height="25"
            /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  /*
  form {
    width: 1000px;
    margin: 0 auto;
  }
  */

  /*
  table{
    width: 1000px;
    margin: 0 auto;
  }
  */

</style>



<h1 style=" width: 1000px;
    margin: 0 auto;">전시회 상세 정보</h1>

<form action='update' method="post" enctype="multipart/form-data" style=" width: 1000px;
    margin: 0 auto;">
  <table border='1'>
    <tr>
      <th>번호</th><td><input name='exno' type='number'
                            value='1'
                            data-th-value="${exhibition.exno}"
                            readonly></td>
    </tr>
    <tr>
      <th>제목</th><td><input readonly name='exname' type='text'
                            value='제목'
                            data-th-value='${exhibition.exname}'
                            size='60'></td>
    </tr>


    <tr>
      <th>등록일</th><td data-th-text="${exhibition.wdate}">2022-1-1</td>
    </tr>

    <tr>
      <th>시작날짜</th><td data-th-text="${exhibition.stdate}">2022-1-1</td>
    </tr>

    <tr>
      <th>종료날짜</th><td data-th-text="${exhibition.eddate}">2022-1-1</td>
    </tr>

    <tr>
      <th>금액</th><td><input name='price' type='number'
                            value='10000'
                            data-th-value="${exhibition.price}"
                            readonly></td>
    </tr>

    <tr>
      <th>내용</th><td><textarea name='cont' ></textarea></td>
    </tr>

  </table>



        <tr>
          <th>첨부파일</th>
          <td>
            <ul>
              <li data-th-each="file : ${exhibition.exhibitionFiles}">
                <a href="files/test.gif"
                   data-th-href="@{files/{path}(path=${file.path})}"
                   data-th-text="${file.path}">test.gif</a>

                <!--[<a href="fileDelete?exfno=1"
                    data-th-href="@{fileDelete(no=${file.exfno})}">삭제</a>]-->
              </li>
            </ul>
<!--
            파일 추가: <input name='files' type="file" multiple>
-->
          </td>
        </tr>




  <p>
    <a href='updateform?exno=1'
       data-th-href="@{updateform(exno=${exhibition.exno})}">변경</a>

    <a href='delete?exno=1'
       data-th-href="@{delete(exno=${exhibition.exno})}">삭제</a>
    <a href='exhibitionlist'>목록</a>
  </p>
</form>



<table style=" width: 1000px;
    margin: 0 auto;">

  <form  method="post " action="add">
  <tr>
    <th>리뷰번호</th>
    <th>아이디</th>
    <th>내용</th>
    <th>작성일</th>

  </tr>

  <tr data-th-each="exhibitionReview : ${exhibitionReviews}">
    <td><input name='rvno' type='number'
               value='1'
               data-th-value="${exhibitionReview.rvno}"
               readonly></td>

    <td data-th-text="${exhibitionReview.id}">홍길동</td>



    <td data-th-text="${exhibitionReview.cont == ''} ? '(제목없음)' : ${exhibitionReview.cont}">
      <input name='cont' type='text'
             value='ㅎ'
             data-th-value="${exhibitionReview.cont}"
             size='30'
             ></td>

    <!--readonly-->
    <td data-th-text="${exhibitionReview.wdate}">2022-1-1</td>
<td>
  <a href='exhibitionReviewDelete?rvno=1'
     data-th-href="@{/exhibition-review/delete(rvno=${exhibitionReview.rvno})}">리뷰 삭제</a>

  <a href='exhibitionReviewUpdate?rvno=1'
     data-th-href="@{/exhibition-review/update(rvno=${exhibitionReview.rvno})}">리뷰 변경</a>

</td>


 <!--   <tr th:each="exhibitionReview: ${exhibitionReviews}">
      <td th:text="${exhibitionReview.rvno}"></td>
      <td th:text="${exhibitionReview.id}"></td>
      <td th:text="${exhibitionReview.cont}"></td>
      <td th:text="${exhibitionReview.wdate}"></td>-->
<!--
      <td><input  type="button"
                 th:onclick="exhibitionReviewDelete([[${exhibitionReview.rvno}]])"
                 value="댓글 삭제"></td>

    </tr>-->


  </tr>
  </form>

  <form action='../exhibition-review/add' method="post" enctype="multipart/form-data"
  style=" width: 1000px;
    margin: 0 auto;">

    <b> [ 리뷰 작성 ] </b>
    <p><label>작성자</label> <input type="text" name="id"></p>
    <p><label>내용</label> <input type='text' name='cont' size='60'> </p>
    <input type='hidden' name='exno' data-th-value="${exhibition.exno}">
    <p><button type='submit'>리뷰 저장</button></p>


  </form>

</table>

<!-- Footer-->
<footer>
  <p>Copyright &copy;가보자GO</p>
</footer>

<style>
  footer {
    /* footer를 aside위에 올리기 위해 사용(부유객체) */
    position: relative;
    height: 70px;
    width: 100%;
    padding: 0 25px;
    line-height: 60px;
    color: white;
    border-top: 1px solid #dee5e7;
    background-color: #343A40;
    margin-top:auto;
    text-align:center;
  }

</style>



<script>
  $(document).ready(function() {
    $('textarea[name=cont]').html('[[${exhibition.cont}]]')
    $('textarea[name=cont]').summernote({height: 400,
                                         minHeight : null,
                                         maxHeight : null,
                                         disableDragAndDrop: true});

    $('textarea[name=cont]').summernote({toolbar:false});
    $('textarea[name=cont]').summernote('disable');


    });


</script>



</body>
</html>