<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>profileDetail</title>
	<meta charset="utf-8">
	<link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script>

		// 닉네임 중복 확인
		var isNickNameChange = false;
		var isNickNameDuplicateCheck = false;

		function nickNameDuplicate() {
			$.ajax({
				url : 'http://localhost:9999/app/myPage/modify/nickCheck',
				type : 'POST',
				dataType :'JSON',
				data : {'nickName': $('#nickName').val()},
				success : function (data) {
					if(data == 1) {
						alert('사용할 수 없는 닉네임입니다.');
					} else if(data == 0) {
						$('#nickCheck').attr('value', 'Y');
						isNickNameDuplicateCheck = true;
						alert('사용 가능한 닉네임입니다.')
					}
				}
			})
		}

		function nickNameOnChangeLogic() {
			isNickNameChange = true;
		}

		function modifyMemberInfoLogic() {
			if (isNickNameChange) {
				if (!isNickNameDuplicateCheck) {
					alert('닉네임 중복 확인해 주세요.')
					return;
				}
			}

			document.querySelector("#profileModifyForm").submit();
		}

		// sns 아이디 공백 제거
		function snsAddressBlankCheck() {
			let snsAddressInput = document.querySelector("#snsAddress")
			document.querySelector("#snsAddress").value = snsAddressInput.value.trim();
		}

	</script>

	<style>

		.container {
			max-width: 500px;
		}

	</style>

</head>

<body>

<div class="container">

	<div class="py-5 text-center">
		<h2>My Profile</h2>
	</div>

	<form action='profileUpdate' method="post" enctype="multipart/form-data" id="profileModifyForm">

		<div>
			<label></label>
			<input name='id' type='hidden' class="form-control"
				   data-th-value="${member.id}">
		</div>

		<div><label>Select your Picture!</label></div>

		<!--  <div>-->
		<img th:src="@{/board/files/} + ${profileFig}"/>
		<label>파일추가</label>
		<input name="file" type="file" multiple>
		<!--  </div>-->

		<div>
			<label>nickName</label>
			<input name='nickName' type='text' class="form-control" id="nickName"
				   data-th-value="${member.nickName}" onchange="nickNameOnChangeLogic()">
			<button class="nickCheck" id="nickCheckButton" type="button" onclick="nickNameDuplicate()">중복확인</button>
		</div>

		<div>
			<label>INSTAGRAM</label>
			<input name='snsAddress' type='text' class="form-control" id="snsAddress" onchange="snsAddressBlankCheck()"
				   placeholder="인스타그램 아이디를 입력해 주세요."
				   data-th-value="${member.snsAddress}">
		</div>

		<div>
			<label>MBTI</label>
			<select name="mbti" id="mbti">
				<option value="-" th:selected="${member.mbti} == ${'-'}">SELECT</option>
				<option value="ISTJ" th:selected="${member.mbti} == ${'ISTJ'}">ISTJ</option>
				<option value="ISFJ" th:selected="${member.mbti} == ${'ISFJ'}">ISFJ</option>
				<option value="INFJ" th:selected="${member.mbti} == ${'INFJ'}">INFJ</option>
				<option value="INTJ" th:selected="${member.mbti} == ${'INTJ'}">INTJ</option>
				<option value="ISTP" th:selected="${member.mbti} == ${'ISTP'}">ISTP</option>
				<option value="ISFP" th:selected="${member.mbti} == ${'ISFP'}">ISFP</option>
				<option value="INFP" th:selected="${member.mbti} == ${'INFP'}">INFP</option>
				<option value="INTP" th:selected="${member.mbti} == ${'INTP'}">INTP</option>
				<option value="ESTP" th:selected="${member.mbti} == ${'ESTP'}">ESTP</option>
				<option value="ESFP" th:selected="${member.mbti} == ${'ESFP'}">ESFP</option>
				<option value="ENFP" th:selected="${member.mbti} == ${'ENFP'}">ENFP</option>
				<option value="ESTP" th:selected="${member.mbti} == ${'ESTP'}">ESTP</option>
				<option value="ESTJ" th:selected="${member.mbti} == ${'ESTJ'}">ESTJ</option>
				<option value="ESFJ" th:selected="${member.mbti} == ${'ESFJ'}">ESFJ</option>
				<option value="ENFJ" th:selected="${member.mbti} == ${'ENFJ'}">ENFJ</option>
				<option value="ENTJ" th:selected="${member.mbti} == ${'ENTJ'}">ENTJ</option>
			</select>
		</div>

		<hr class="my-4">

		<div class="row">

			<div class="col">
				<button class="w-100 btn btn-primary btn-lg" style="background-color: black; border-color: black"
						onclick="location.href='myPage.html'"
						th:onclick="|location.href='@{/myPage/}'|"
						type="button">이전</button>
			</div>

			<div class="col">

				<button class="w-100 btn btn-primary btn-lg"
						style="background-color: black; border-color: black"
						id="modifyProfileButton"
						type="button"
						onclick="modifyMemberInfoLogic()"
				>등록</button>
			</div>
		</div>
	</form>
</div>
</body>
</html>