<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>gabojago</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@4.2.0/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-UkVD+zxJKGsZP3s/JuRzapi4dQrDDuEf/kHphzg8P3v8wuQ6m9RLjTkPGeFcglQU" crossorigin="anonymous">


</head>

<!-- Header-->
<header class="bg-dark py-4">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h2 class="display-4 fw-bolder">결제</h2>
      <!--  <p class="lead fw-normal text-white-50 mb-0">?</p>-->
    </div>
  </div>
</header>

<script>
  let paymentType;
  
  // 다음부터 타임리프 #numbers.sequence 사용
  function showExhibition (){
    alert(sessionStorage.getItem('resultCount'));
      for(let i = 0; i<sessionStorage.getItem('resultCount'); i++){
        alert("showExhibition()");

        let str;
        let list = JSON.parse(sessionStorage.getItem('exhibition_' + i));

        str += "<div class=" + "shadow-lg w-100 my-5 py-4 px-4 bg-body rounded"  + "style=" + "position: relative;" + ">";

        str += "<h5 style=" + "position: absolute; top: 10px; right: 10px;" + ">";
        str += "<p id=" + "EXNAME" + "style=" + "word-wrap: break-word" + ">" + list[0].value + "</p></h5>";

        str += "<h5 id=" + "STDATE" + "style=" + "position: absolute; top: 40px; right: 115px" + ">" + list[1].value + "</h5>";

        str += "<h5 id=" + "EDDATE" + "style=" + "position: absolute; top: 40px; right: 10px" + ">"+ list[2].value +"</h5>";

        str += "<h5 id=" + "CNT" + "style=" + "position: absolute; top: 190px; right: 10px" + ">"
          + list[3].value +
        "</h5>";

        str += "<span id=" + "PRICE" + "style=" + "position: absolute; top: 220px; right: 10px" + ">"
          + list[4].value +
        "</span>";

        str += "<img style=" + "width:200px; height:200px" + "src=" + "https://cdn.pixabay.com/photo/2016/03/27/16/23/woman-1283009__480.jpg" + "alt=" + "..." + "/>";

        str += "</div>";

        console.log(str);
        document.getElementById('exhibitionForm').innerHTML = str;
      }
    }

  function getPayType(payType){
    paymentType = payType;
  }

  function doPayment(){
    if(paymentType == "accountTransfer"){
      location.replace("http://localhost:9999/app/payment/paymentSuccessful?paymentType=accountTransfer&price=");
    }
    else if(paymentType == "depositWithoutBankbook"){
      location.replace("http://localhost:9999/app/payment/paymentSuccessful?paymentType=depositWithoutBankbook");
    }
    else if(paymentType == "kakao"){
      location.replace("http://localhost:9999/app/payment/paymentSuccessful?paymentType=kakao");
    }
    else if(paymentType == "mobilePayment"){
      location.replace("http://localhost:9999/app/payment/paymentSuccessful?paymentType=mobilePayment");
    }
    else{
      alert("결제 방식을 선택해 주세요.");
    }
  }

  showExhibition();
</script>


<!-- Navigation 사실상의 header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/app">가보자GO</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item"><a class="nav-link" href="/app/search/searchForm">검색</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/app/recommendation/recommendationList">코스추천</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/app/exhibition/exhibitionlist">전시회
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/app/support/">고객지원</a>
        </li>
        <li class="nav-item" th:if="${session.loginMember != null}">
          <a
              class="nav-link"
              href="/app/auth/logout"
              th:text="${session.loginMember.name}+'(로그아웃)'">홍길동(로그아웃)</a>
        </li>
        <li class="nav-item" th:if="${session.loginMember == null}">
          <span class="nav-link btn-open-popup">로그인</span>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/app/myPage/">
            <img src="../images/mypage.png" width="90%" height="25"
            /></a>
        </li>
        <!--어드민만 보일 수 있음-->
        <li class="nav-item ">
              <span data-th-if="${session.loginMember} != null and ${session.loginMember.id} == 'admin'">
              <a class="nav-link" href='/app/member/list'>회원 관리</a></span> </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>

<style>
  label {
    font-weight: bold ;
  }
</style>

<body>
      <div class="colume align-items-center flex-fill mx-5">

       <!-- <table class="table table-bordered">
        <thead>
          <tr>
            <th> 전시회 이름 </th>
            <th> 전시회 시작일 </th>
            <th> 전시회 종료일 </th>
            <th> 티켓 수량 </th>
            <th> 가격 </th>
          </tr>
        </thead>
        <tbody id="exhibitionList">

        </tbody>
       </table> -->

    <section id="exhibitionForm">

    </section>

    <div class="shadow-lg w-100 my-5 py-4 px-4 bg-body rounded">
      <h4 style="text-align: center; padding-bottom: 30px;"><b>필수 입력 사항</b></h4>

      <div class="form-floating mb-4">
        <input type="text" class="form-control" id="floatingName" placeholder="ㅇ">
        <label for="floatingInput">받는 분 이름</label>
      </div>

      <div class="form-floating mb-4">
        <input type="text" class="form-control" id="floatingAddress" placeholder="ㅇ">
        <label for="floatingPassword">받는 분 주소</label>
      </div>

      <div class="form-floating mb-4">
        <input type="number" class="form-control" id="floatingNumber" placeholder="ㅇ">
        <label for="floatingPassword">받는 분 전화번호</label>
      </div>    
    
    </div>

    <div class="shadow-lg w-100 my-5 py-4 px-4 bg-body rounded">
      <h4 style="text-align: center; padding-bottom: 30px;"><b>선택 입력 사항</b></h4>

      <div class="form-floating mb-4">
        <input type="email" class="form-control" id="floatingName" placeholder="ㅇ">
        <label for="floatingInput">받는 분 이메일</label>
      </div>   
    
    </div>



    <div class="shadow-lg w-100 my-5 py-4 px-4 bg-body rounded">
      <h4 style="text-align: center; padding-bottom: 30px;"><b>결제 수단</b></h4>

      <ul class="nav justify-content-center">
        <li class="nav-item mx-3">
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">계좌이체</div>
            <div class="card-body nav justify-content-center">
              <input type="radio" class="btn-check" name="options-outlined" id="accountTransfer" autocomplete="off" checked>
              <label onclick="getPayType('accountTransfer')" class="btn btn-outline-success" for="accountTransfer">선택</label>
            </div>
          </div>
        </li>
        <li class="nav-item mx-3">
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">무통장입금</div>
            <div class="card-body nav justify-content-center">
              <input type="radio" class="btn-check" name="options-outlined" id="depositWithoutBankbook" autocomplete="off" checked>
              <label onclick="getPayType('depositWithoutBankbook')" class="btn btn-outline-success" for="depositWithoutBankbook">선택</label>
            </div>
          </div>
        </li>
        <li class="nav-item mx-3">
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">카카오페이</div>
            <div class="card-body nav justify-content-center">
              <input type="radio" class="btn-check" name="options-outlined" id="kakao" autocomplete="off" checked>
              <label onclick="getPayType('kakao')" class="btn btn-outline-success" for="kakao">선택</label>
            </div>
          </div>
        </li>
        <li class="nav-item mx-3">
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">휴대폰 소액결제</div>
            <div class="card-body nav justify-content-center">
              <input type="radio" class="btn-check" name="options-outlined" id="mobilePayment" autocomplete="off" checked>
              <label onclick="getPayType('mobilePayment')" class="btn btn-outline-success" for="mobilePayment">선택</label>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="shadow-lg w-100 my-5 py-4 px-4 bg-body rounded">
      <h4 style="text-align: center; padding-bottom: 20px;"><b>총 결제 금액</b></h4>
      <h2 th:text="${price}" style="text-align: center; padding-bottom: 30px;"><b>40000 원</b></h2>

      <div class="d-grid gap-2">
        <button onclick="doPayment()" class="btn btn-primary" type="button">바로 결제</button>
      </div>
    </div>
  </div>



<!-- Footer-->
<footer class="bg-dark" >
  <p>Copyright &copy;가보자GO</p>
</footer>


<style>
  footer {
    /* footer를 aside위에 올리기 위해 사용(부유객체) */
    position: relative;
    height: 70px;
    width: 100%;
    padding: 0 25px;
    line-height: 60px;
    color: white;
    border-top: 1px solid #dee5e7;
    background-color: #343A40;
    margin-top:auto;
    text-align:center;
  }

  a{
    text-decoration: none;
  }

</style>

<style>
  table {
    width: 600px;
    margin: 0 auto;
  }

  form{
    width: 600px;
    margin: 0 auto;
  }

</style>
</body>
</html>