<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<link th:href="@{/css/bootstrap.min.css}"
		  href="../css/bootstrap.min.css" rel="stylesheet">
	<style>
		.container {
			max-width: 700px;
		}
	</style>
</head>
<body>

<div class="container">

	<div class="py-5 text-center">
		<h2>QnA 등록</h2>
	</div>

	<form action="add" method="post" enctype="multipart/form-data">
		<div>
			<label for="title">제목</label>
			<input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력하세요.">
		</div>
		<div>
			<label for="questionContent">내용</label>
			<textarea input type="text" id="questionContent" name="questionContent" class="form-control" rows='10' cols='60' placeholder="내용을 입력하세요."></textarea>
		</div>

		<div class="form-check">
			<label for="disclosure" class="form-check-label">비공개</label>
			<input type="checkbox" id="disclosure" name="disclosure" class="form-check-input">
			<input type="hidden" name="_disclosure" value="on"/>
		</div>

		<hr class="my-4">

		<div class="row">
			<div class="col">
				<button class="w-100 btn btn-primary btn-lg" type="submit">등록</button>
			</div>
			<div class="col">
				<button class="w-100 btn btn-secondary btn-lg"
						onclick="location.href='list.html'"
						th:onclick="|location.href='@{/support/qna/list}'|"
						type="button">취소</button>
			</div>
		</div>

	</form>

</div> <!-- /container -->
</body>
</html>


